[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "rpclib"]
	path = rpclib
	url = https://github.com/rpclib/rpclib
[submodule "libtorrent"]
	path = libtorrent
	url = https://github.com/proximax-storage/libtorrent
