[submodule "cereal"]
	path = cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "libtorrent"]
	path = libtorrent
	url = https://github.com/proximax-storage/libtorrent
	branch = xpx-work-v3-stable
[submodule "cpp-xpx-rpclib"]
	path = cpp-xpx-rpclib
	url = https://github.com/proximax-storage/cpp-xpx-rpclib.git
